.header {
  font-size: 16px;
  font-weight: 500;
}

/* Menu tổng */
.menu-bar {
  /* background-color: #2b92e4; */
  color: white !important; /* Chữ trắng mặc định */
  width: 28%;
}

.menu-bar .ant-menu-submenu-title {
  padding: 0px 10px 0px 10px;
}

/* Chữ và icon trong menu chính */
.menu-bar .ant-menu-item {
  color: white !important;
  transition:
    background-color 0s,
    color 0s;
}

/* Loại bỏ đường gạch chân dưới chữ và icon */
.menu-bar .ant-menu-submenu::after {
  content: none !important; /* Vô hiệu hóa đường gạch chân */
}
.menu-bar .ant-menu-item::after {
  content: none !important; /* Vô hiệu hóa đường gạch chân */
}
/* Chữ và icon bên trong children */
.menu-bar .ant-menu-submenu .ant-menu-item {
  color: black !important; /* Giữ màu đen trong children */
}

/* Hiệu ứng hover trong children */
.menu-bar .ant-menu-submenu .ant-menu-item:hover {
  background-color: white !important; /* Nền trắng */
  color: black !important; /* Chữ đen */
  border-radius: 10px; /* Bo góc */
}

/* Menu cha (submenu title) */
.menu-bar .ant-menu-submenu-title {
  color: white !important; /* Chữ và icon trắng */
}
