.login-container {
    width: 300px;
    margin: 100px auto;
    padding: 30px;
    background: #fff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }
  
  .login-form {
    max-width: 300px;
  }
  
  .login-form-forgot {
    float: right;
  }
  
  .login-form-button {
    width: 100%;
  }